@charset "UTF-8";


*{
    box-sizing: border-box;
    user-select: none;
}

main > menu{
    width: 90%;
    height: 150px;
    margin: auto;
    padding: 0 !important;
}

/* Configuração de background Menu */

.PizzasMenu {
    background: url('../public/imagens/') no-repeat center center;
    background-size: cover;
}

.container {
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none; /* Firefox */
    padding-bottom: 10px; /* Espaço para a barra */
    gap: 8px;
}

.container {
    display: flex;
    align-items: center;
    width: 100%;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    gap: 8px;
    padding: 10px;
    scrollbar-width: none; /* Firefox */
    cursor: grab;
}

.container:active {
    cursor: grabbing;
}

.container::-webkit-scrollbar {
    display: none;
}

.itens {
    flex: 0 0 auto;
    width: 150px;
    height: 40px;
    background: red;
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-snap-align: start;
    white-space: nowrap;
    color: white;
}
