@charset "UTF-8";

:root {
    --color-primary: #8B0000;

    /*
    Fontes:
        Playfair Display (TÍTULOS PRINCIPAIS)
        Montserrat (SUBTÍTULOS)
        Sans-serif (LEITURA PADRÃO)
    */
    --font-principal: 'Playfair Display', serif;
    --font-secundaria: 'Montserrat', sans-serif;
    --font-padrao: sans-serif, arial;
}

header {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
}

header > a > h1{
    font-size: 2.5em;
}

header > a{
    color: #8B0000;
    text-decoration: none;
}

header > ul{
    display: flex;
    gap: 16px;
    list-style: none;
}

.menuDesktop{
    display: none;
}

.material-icons{
    font-size: 29px;
}

.menuMobile{
    display: none;
}

header > ul > li > a{
    text-decoration: none;
    font-family: var(--font-secundaria);
    font-weight: bold;
    color: var(--color-primary);
    font-size: 1.2em;
}

header > h1 {
    font-family: var(--font-principal);
    color: var(--color-primary);
    margin: 5px;
}

header > .menu-desktop{
    display: none;
}

header > div.headerIcons{
    width: 100px;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}

header > div.headerIcons > div.iconWrapper {
    position: relative;

}

.materialIcons{
    font-size: 35px;
    margin: 0px 5px;
}

.cartCount {
    background-color: var(--color-primary);
    position: absolute;
    top: -6px;
    right: -6px;
    color: white;
    font-size: 12px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    text-align: center;
    line-height: 18px;
    font-weight: bold;
    pointer-events: none;
}