@charset "UTF-8";

.container{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.animation{
    margin: 8px 10px;
}

.animation:hover{
    filter: brightness(0.9);
    transform: translateY(-5px);
    transition: transform 0.2s;
}

.botao-site,
.botao-whatsapp {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

.botao-site {
    background-color: #8B0000;
    margin-bottom: 10px;
}

.botao-site:hover{
    transform: translateY(-3px);
    transition: transform 0.2s;
}

.botao-whatsapp {
    background-color: #25D366;
}

.botao-whatsapp:hover{
    transform: translateY(-3px);
    transition: transform 0.2s;
}

.box-son {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    gap: 10px;
}

.box-son img {
    width: 30px;
    height: 30px;
    flex-shrink: 0;
}

.box-son .texto {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #333;
    margin: 0;
}

.header-icons {
    width: 55vw;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
}

.header-icons img {
    width: 32px;
    height: 32px;
    margin-left: 20px;
    position: relative;
}

/*ícone do carrinho */
.icon-wrapper {
    position: relative;
}

/* Bolinha de contador */
.cart-count {
    background-color: var(--color-primary);
    position: absolute;
    top: -6px;
    right: -6px;
    color: white;
    font-size: 12px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    text-align: center;
    line-height: 18px;
    font-weight: bold;
    pointer-events: none;
}


.animation-scale {
    transition: transform 0.3s;
}

.animation-scale.-active {
    transform: scale(1.05);
}

