@charset "UTF-8";

section.info {
    width: 100%;
    height: auto;
    margin: auto;
}

section.info > div > h2 {
    font-family: var(--font-secundaria);
    font-size: 1.8em;
    color: var(--color-primary);
    text-shadow: 3px 1px 11px rgba(0, 0, 0, 0.219);
    margin-top: 50px;
    text-align: center;
}

section.info > div {
    padding: 10px;
    width: 100%;
}

article{
    width: 340px;
    margin: auto;
}

/* IFRAME */
section.info > div > article > iframe {
    width: 100%;
    height: 127px;
    margin: auto;
    border-radius: 5px;
}

section.info .location-box img {
    filter: brightness(0) saturate(100%); /* Preto puro */
    /* Ou alternativamente: */
    filter: brightness(0);
}

.location-box{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    gap: 10px;
}
