@charset "UTF-8";

section.menu-highlights{
    width: 100%;
    margin-top: 80px;
}

section.menu-highlights > h2 {
    font-family: var(--font-secundaria);
    color: var(--color-primary);
    font: 3em bolder;
    text-align: center;
    margin: 100px auto 10px;
}

section.menu-highlights > p{
    font: var(--font-padrao);
    font-size: 1.1em;
    text-align: center;
    color: black;
    margin-bottom: 50px;
}

section.menu-highlights > div.menu-all{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

section.menu-highlights > div.menu-all div.food-cart {
    width: 315px;
    height: 350px;
    background-color: white;

    margin-bottom: 50px; 
    border-radius: 10px;
}

section.menu-highlights > div.menu-all div.food-cart > img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;

    border-radius: 10px;
}

section.menu-highlights > div.menu-all div.food-cart > div{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

section.menu-highlights > div.menu-all div.food-cart > div > h3{
    font-family: var(--font-secundaria);
    font-size: 1.1em;

    margin-left: 15px;
    margin-top: 20px;
}

section.menu-highlights > div.menu-all div.food-cart > div >  p{
    color: rgba(48, 48, 48, 0.671);
    font-family: var(--font-padrao);
    font-size: 0.8;
    margin: 3px 0px 0px 15px;
}

section.menu-highlights > div.menu-all div.food-cart > div > button {
    width: 220px;
    height: 25px;
    background-color: #8B0000;
    
    font-family: var(--font-padrao);
    font-size: 1.1em;
    color: white;
    border: none;
    border-radius: 5px;
    
    text-align: center;
    margin: 0px auto 0px auto;
}