@charset "UTF-8";



main{
    width: 80vw;
    background-color: blue;
}

section.home{
    width: 100%;
}

.menu-index{
    width: 80%;
    max-width: 705px;
}

.menu-index > .box{
    width: 230px;
    height: auto;
}

.menu-index > .box > img.img-food{
    width: 140px;
}

section.menu-highlights > div.menu-all {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
    
section.menu-highlights > div.menu-all div.food-cart {
    min-width: 250px; 
    margin-bottom: 30px;
}

section.menu-highlights > .menu-all > .food-cart > div > button.animation-scale{
    margin: 10px auto;
}

section.delivery > .box-all{
    width: 50%;
}

section.delivery > .box-soon{
   display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

section.delivery > .box-all >.box-soon{
    width: 100%;
}