@charset "UTF-8";



main{
    width: 80vw;
    background-color: blue;
}

section.home{
    width: 100%;
}

.menu-index{
    width: 80%;
}

.menu-index > .box{
    width: 230px;
    height: auto;
}

.menu-index > .box > img.img-food{
    width: 140px;
}

