@charset "UTF-8";

body{
    background-color: white;
}

main{
    width: 80%;
    background-color: rgb(65, 60, 60);
    border-radius: 5px;
}

header{
    height: 80px;
}

header > h1{
    text-align: left;
    font-size: 2.7em;
}

header > div.header-icons > span{
    display: none;
}


/* HOME.CSS */
section.home{
    width: 100%;
} 

.menu-index{
    width: 55%;
    max-width: 600px;
    background-color: red;
}

.menu-index > .box{
    width: 150px;
    height: auto;
}

.menu-index > .box > img.img-food{
    width: 140px;
    border-radius: 5px;
}



/* menu-highlights */
section.menu-highlights > div.menu-all {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
    
section.menu-highlights > div.menu-all div.food-cart {
    min-width: 250px; 
    margin-bottom: 30px;
}

section.menu-highlights > .menu-all > .food-cart > div > button.animation-scale{
    margin: 10px auto;
}

.box-son {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    gap: 9px;
    justify-content: center;
}


/* delivery.css */
section.delivery > div.box-all{
    width: 50%;
}

section.delivery > .box-soon{
 display: flex;
    align-items: center;
    margin-bottom: 15px;
    gap: 10px;
    flex-direction: column;
}


section.delivery > .box-all >.box-soon{
    width: 100%;
}



/* info.css */
section.info {
    width: 400px;
    height: auto;
    margin: auto;
}

section.info > div > article {
    background-color: white;
    width: 380px;
    min-height: 350px;
    border-radius: 10px;
    margin: 30px auto;
    padding: 20px;
    box-sizing: border-box;
}



/* contato.css */
section.contato{
    width: 33%;
}