@charset "UTF-8"; 

:root {
    --primary-color: #8B0000;
    --background-color: #F9F5F0;
    --text-color: #333333;
    --font-principal: 'Playfair Display', serif;
    --font-secundaria: 'Montserrat', sans-serif;
    --font-padrao: sans-serif, arial;
}

body{
    background-color: #F9F5F0;
    max-width: 600px;
    margin: 0 auto;
    padding: 10px;
}

main{
    background-color: #F9F5F0;
}

section {
    margin-top: 60px;
    background-color: white;
}

.pedidoComida{
    display: flex;
    width: 80%;
    margin: auto;
}

button{
    background-color: #ffffff;
    border: rgb(138, 138, 138) 0.1px solid;
    width: 25px;
    height: 25px;
    margin: 0 5px;
    border-radius: 50%;
    font-weight: bold;
    cursor: pointer
}

.nquantidade{
    display: inline;
}

.tituloSection{
    font-family: var(--font-secundaria);
    font-size: 1.2em;
    margin-bottom: 24px;
}

label.radio {
    display: block;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;

    margin: 16px;
}

.detalhes{
    display: block;
    font-size: 0.9em;
    color: #666;
    margin-left: 24px;
}

.entregaOpcoes{
    display: block;
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
