@charset "UTF-8";

*{
    box-sizing: border-box;
    user-select: none;
}

:root {
    --primary-color: #8B0000;
    --background-color: #F9F5F0;
    --text-color: #333333;
    --font-principal: 'Playfair Display', serif;
    --font-secundaria: 'Montserrat', sans-serif;
    --font-padrao: sans-serif, arial;
}

h2{
    color: #8B0000;
    font-family: var(--font-principal);
    font-size: 3em;
    text-align: center;
    margin: 16px auto;
}

.itemPedido{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 8px;
    margin: 8px;
    padding: 8px;
}

label{
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
}

.detalhes{
    display: block;
    font-size: 0.9em;
    color: #666;
    margin-left: 24px;
}

.description{
    display: flex;
    flex-direction: column;
}

.Name{
    font-family: var(--font-secundaria);
    font-weight: normal;
    font-size: 1.5em;
}

.ingredients{
    font-family: var(--font-padrao);
    font-size: 0.8em;
}

.clearItem{
    width: 10%;
    text-decoration: underline;
}