@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root{

    --color-primary: #8B0000

    /*
    Fontes:
        Playfair Display (TITULOS PRINCIPAIS)
        Montserrat (SUBTITULOS)
        Sans-serif (Leitura {padrao})
    */
    
    --font-principal: 'Playfair Display', serif;
    --font-secundaria: 'Montserrat', sans-serif;
    --font-padrao: 'Sans-serif', arial;
}