@charset "UTF-8";

/* Importação das fontes */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oleo+Script:wght@400;700&family=Passion+One:wght@400;700;900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Sriracha&display=swap');

* {
    padding: 0px;
    margin: 0px;
}

:root {
    --color-primary: #8B0000;

    /*
    Fontes:
        Playfair Display (TÍTULOS PRINCIPAIS)
        Montserrat (SUBTÍTULOS)
        Sans-serif (LEITURA PADRÃO)
    */
    --font-principal: 'Playfair Display', serif;
    --font-secundaria: 'Montserrat', sans-serif;
    --font-padrao: sans-serif, arial;
}

body {
    background-color: rgb(229, 218, 196);
    height: 100vh;
    width: 100vw;
}

header {
    width: 100vw;
    height: 7vh;
    display: flex;

    width: 100vw;
    background-color: white;
}

header > h1 {
    font-family: var(--font-principal);
    color: var(--color-primary);
    margin: 8px;
}

#header-icons {
    width: 60vw;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
}

#header-icons img {
    width: 32px;
    height: 32px;
    margin-left: 20px;
    position: relative;
}

/*ícone do carrinho */
.icon-wrapper {
    position: relative;
}

/* Bolinha de contador */
#cart-count {
    background-color: var(--color-primary);
    position: absolute;
    top: -6px;
    right: -6px;
    color: white;
    font-size: 12px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    text-align: center;
    line-height: 18px;
    font-weight: bold;
    pointer-events: none;
}

main{
    width: 100vw;
    height: 1000vw;
}

section#primeiro{
    

    background-image: url(../imagens/backgrounds/backgrounds/header/fornalha-background-pq.png);
    background-position: right center;
    background-size: cover;

    width: 100vw;
    height: 500px;
}

section#primeiro > h1{


    font: 2em bolder;
    color: white;

    text-align: center;
}

footer{
    background-color: yellow;
    width: 100vw;
}

