@charset "UTF-8";

/* Alterar para (com underline igual ao JSX): */
#root > main > section.Categorias_imagens > .container > .Massas_Category{
    width: 80px !important;
    height: 100px !important;
    background-color: white !important;
}